# Archivos de sistema
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual local (fuera del que se crea en Docker)
venv/
env/

# Archivos ocultos del sistema operativo
.DS_Store
Thumbs.db

# Archivos y carpetas de Git
.git
.gitignore

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de logs
*.log

# Archivos de entorno
.env

# Docker
Dockerfile
docker-compose.yml
